@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    /* background-color: rgb(235, 139, 139); */
    margin: 0;
    padding: 0;
}

#heading0 {
    color: brown;

}

.heading1 {
    background-color: red;
}

.heading2 {
    background-color: rgb(0, 152, 43);
}

.heading3 {
    background-color: rgba(123, 8, 27, 0.534);
}

.box {
    background-image: url("https://media.istockphoto.com/id/814423752/photo/eye-of-model-with-colorful-art-make-up-close-up.jpg?s=612x612&w=0&k=20&c=l15OdMWjgCKycMMShP8UK94ELVlEGvt7GmB_esHWPYE=");
    background-size: cover;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
}